/*.accordion {*/
    /*margin: 50px;*/
/*}*/

    /*dt, dd {*/
    /*padding: 10px;*/
    /*border: 1px solid black;*/
    /*border-bottom: 0;*/
/*}*/

    /*dt, dd:last-of-type {*/
        /*border-bottom: 1px solid black;*/
    /*}*/

    /*a {*/
        /*display: block;*/
        /*color: black;*/
    /*}*/

    /*dd {*/
        /*border-top: 0;*/
        /*font-size: 12px;*/
    /*}*/

    /*dd:last-of-type {*/
        /*border-top: 1px solid white;*/
        /*position: relative;*/
        /*top: -1;*/
    /*}*/


/*.tooltip {*/
    /*display: none;*/
    /*position: absolute;*/
    /*border: 1px solid #333;*/
    /*background: #000;*/
    /*border-radius: 5px;*/
    /*padding: 7px;*/
    /*color: #fff;*/
    /*font: 12px arial;*/
/*}*/

#tabs {
    background-color: #999;
    width: 600px;
    height: 150px;
    padding: 20px;
}

#tabs-nav {
    width: 600px;
    height: 75px;
    padding: 20px;
    background-color: #999;
    text-decoration: none;
    list-style: none;
}

#tabs-nav li {
    display: inline;
}