
/*1*/
/*body {*/
    /*font-size: 14px;*/
/*}*/

/*----------------------------------------------------*/

/*3*/
/*div {*/
    /*width: 90px;*/
    /*height: 90px;*/
    /*float: left;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    /*background-color: #eee;*/
/*}*/


/*----------------------------------------------------*/

/*4*/
/*div, span {*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*float: left;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*background-color: #eee;*/
/*}*/




/*----------------------------------------------------*/


/*td {*/
    /*width: 40px;*/
    /*background: green;*/
/*}*/




/*----------------------------------------------------*/


/*td {*/
    /*text-align: center;*/
/*}*/


/*----------------------------------------------------*/


/*div {*/
    /*width: 70px;*/
    /*height: 40px;*/
    /*background: #e7f;*/
    /*margin: 5px;*/
    /*float: left;*/
/*}*/
/*span {*/
    /*display: block;*/
    /*clear: left;*/
    /*color: red;*/
/*}*/
/*.starthidden {*/
    /*display: none;*/
/*}*/


/*----------------------------------------------------*/


/*div {*/
    /*width: 50px;*/
    /*height: 40px;*/
    /*margin: 5px;*/
    /*border: 3px outset green;*/
    /*float: left;*/
/*}*/
/*.starthidden {*/
    /*display: none;*/
/*}*/


/*----------------------------------------------------*/


/*div {*/
    /*width: 100px;*/
    /*height: 80px;*/
    /*margin: 5px;*/
    /*float: left;*/
    /*background: #b9e;*/
/*}*/
/*span {*/
    /*padding: 2px;*/
    /*margin: 3px;*/
    /*line-height: 1.4;*/
    /*border: 1px solid #000;*/
/*}*/



/*----------------------------------------------------*/


/*div {*/
    /*float: left;*/
/*}*/
/*span {*/
    /*color: blue;*/
/*}*/


/*----------------------------------------------------*/


/*div {*/
    /*color: red;*/
/*}*/


/*----------------------------------------------------*/

p {
    margin: 8px;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}
b {
    text-decoration: underline;
}
button {
    cursor: pointer;
}




/*----------------------------------------------------*/







/*----------------------------------------------------*/







/*----------------------------------------------------*/







/*----------------------------------------------------*/
